/* UPLOAD FILES TO SHOPIFY CONTENTS FILES, they copy the links here  */
@font-face {
    font-family: 'breweryno2w06-boldregular';
    src: url('https://cdn.shopify.com/s/files/1/0887/4105/2730/files/brewery_no2_w06_bold-webfont.woff?v=1721095885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/0887/4105/2730/files/brewery_no2_w06_bold-webfont.woff?v=1721095885') format('woff');
    font-weight: normal;
    font-style: normal;
}
