/* 1.0 */

<div class="location">
  <i class="fa-solid fa-location-dot"></i>
  <select id="location-dropdown" onchange="redirectToLocation()">
    <option value="https://luckysupermarketca.myshopify.com">Select a location</option>
    {% for location in shop.metaobjects.locations.values %}
      <option value="{{ location.page.value }}">{{ location.location.value }}</option>
    {% endfor %}
  </select>
</div>

<script>
  function redirectToLocation() {
    var dropdown = document.getElementById("location-dropdown");
    var selectedUrl = dropdown.value;
    if (selectedUrl) {
      window.location.href = selectedUrl;
    }
  }

  // Function to set the default selected option based on the current URL
  function setDefaultOption() {
    var dropdown = document.getElementById("location-dropdown");
    var currentPath =  window.location.href;

    console.log(dropdown);
    console.log(currentPath);

    for (var i = 0; i < dropdown.options.length; i++) {
      if (dropdown.options[i].value === currentPath) {
        console.log(i, 'i')
        dropdown.selectedIndex = i;
        break;
      }
    }
  }

  // Call the function when the page loads
  window.onload = setDefaultOption;
</script>
